.video_detail {
  width: 533px;
  height: 300px;
  background-size: cover !important;
  background-position: center !important;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    padding: 15px;
    border-radius: 50%;
    color: #fff;
    background-color: #0000006b;
  }
}
