.top_cast {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  h3 {
    text-align: left;
  }
  .list_cast {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    list-style: none;
    padding: 0;
    &::-webkit-scrollbar-thumb {
      border-radius: 20px;
      background-color: #cfcfcf;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    &::-webkit-scrollbar {
      height: 8px;
      width: 8px;
    }
    li {
      min-width: 140px;
      width: 140px;
    }
    .profile_cast {
      margin: 10px;
      border-radius: 10px;
      background-color: #fff;
      border: solid 1px #cecece;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      a {
        font-weight: bold;
        color: #000;
        font-size: 1em;
        text-align: left;
        text-decoration: none;
      }
      p {
        font-size: 0.9em;
        text-align: center;
      }
      .image_null {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 68%;
      }
    }
    .view_more {
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        text-decoration: none;
      }
    }
  }
  .view_full {
    text-decoration: none;
    text-align: left;
    color: #000;
    font-weight: 600;
    font-size: 1.1em;
  }
}
